<div class="mx-auto" style="width: 1000px;">
  <h1>Movimento Manual</h1>
  <form method="post" [formGroup]="formMovimento" (ngSubmit)="criar()">
    <div class="row">
      <div class="col">
        <input type="number" class="form-control" placeholder="Mês"  formControlName="datMes">
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="Ano" formControlName="datAno">
      </div>
    </div><br>
    <div class="row">
      <div class="col">
        <select [disabled]="formMovimento.value.ativo" class="form-control">
          <option>Escolha um produto</option>
          <option *ngFor="let produto of comboProduto">{{produto.descricao}}</option>
        </select>
      </div>
      <div class="col">
        <select [disabled]="formMovimento.value.ativo" class="form-control">
          <option>Codigo Cosif</option>
          <option *ngFor="let cosif of codProdCosif">{{cosif}}</option>
        </select>
      </div>
    </div><br>
    <div class="row">
      <div class="col">
        <input type="number" class="form-control" [readonly]="formMovimento.value.ativo" placeholder="Valor" formControlName="valor">
      </div>
    </div><br>
    <div class="form-group">
        <textarea [readonly]="formMovimento.value.ativo" type="text" class="form-control" placeholder="Descriçao" formControlName="descricao"></textarea>
    </div>
  </form>
  <div class="container-fluid m-3 p-3" align="center">
    <table>
      <tbody>
        <tr>
          <td><button type="button" class="btn btn-primary btn-sm" [disabled]="btnLimpar" (click)="limpar()">Limpar</button></td>
          <td><button type="button" class="btn btn-primary btn-sm" (click)="modoEdicao()" [disabled]="btnNovo">Novo</button></td>
          <td><button type="button" class="btn btn-primary btn-sm" (click)="criar()" [disabled]="btnIncluir">Incluir</button></td>
          <td><button type="button" (click)="oberMovimentoPorMesAno()" class="btn btn-primary btn-sm" [disabled]="btnBuscar">Buscar</button></td>
        </tr>
      </tbody>
    </table>
  </div><br>
  <p></p>
 
 
  <table class="table" >
    <thead class="thead-light">
      <tr>
        <th scope="col">Mês</th>
        <th scope="col">Ano</th>
        <th scope="col">Código do Produto</th>
        
        <th scope="col">NR Lançamento</th>
        <th scope="col">Descriçao</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of grid">
        <td>{{data.datMes}}</td>
        <td>{{data.datAno}}</td>
        <td>{{data.codProduto}}</td>
        <td>{{data.numeroLacamento}}</td>
        <td>{{data.descricao}}</td>
        <td>{{data.valor}}</td>
      </tr>
    </tbody>
  </table>
</div>