<div class="mx-auto" style="width: 1000px;">
  <h1 align="center">Movimento Manual</h1>
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Mês" formControlName="datMes">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Ano" formControlName="datAno">
      </div>
    </div><br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Produto" formControlName="codProduto">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Cosif" formControlName="Descricao">
      </div>
    </div><br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Valor" formControlName="">
      </div>
    </div><br>
    <div class="form-group">
        <textarea type="text" class="form-control" [disabled]="true" placeholder="Descriçao" formControlName=""></textarea>
    </div>
    <div class="container-fluid m-3 p-3" align="center">
      <table>
        <tbody>
          <tr>
            <td><button type="button" class="btn btn-primary btn-sm">Limpar</button></td>
            <td><button type="button" class="btn btn-primary btn-sm" (click)="teste()">Novo</button></td>
            <td><button type="button" class="btn btn-primary btn-sm">Incluir</button></td>
            <td><button type="button" (click)="carregarGrid()" class="btn btn-primary btn-sm">Buscar</button></td>
          </tr>
        </tbody>
      </table>
    </div><br>
  </form><p></p>
 
 
  <table class="table" >
    <thead class="thead-light">
      <tr>
        <th scope="col">Mês</th>
        <th scope="col">Ano</th>
        <th scope="col">Código do Produto</th>
        <th scope="col">NR Lançamento</th>
        <th scope="col">Descriçao</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>